{% extends "my_best_call_manager_temp.html" %}



{% block sub_content %}
    {% if users_tasks %}
        <table class="table">
            {% for key, value in users_tasks.items %}
                <thead class="thead" id="thead-{{ key }}">
                    <tr>
                        <th scope="col" >
                            Список задач для
                            <a href="https://b24-tt5i10.bitrix24.ru/company/personal/user/{{ key }}/" target="_blank">{{ value.0 }}</a>
                            <br/>Нажмите, чтобы раскрыть
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody" id="tbody-{{ key }}">
                     {% for item in value %}
                         {% if forloop.counter0 != 0 %}
                             <tr>
                                <td>
                                    <a href="https://b24-tt5i10.bitrix24.ru/company/personal/user/{{ key }}/tasks/task/view/{{ item }}/" target="_blank">Задача {{ item }}</a>
                                </td>
                             </tr>
                         {% endif %}
                     {% endfor %}
                </tbody>
                <script>
                    document.getElementById("thead-{{ key }}").addEventListener("click", function() {
                        let tbody = document.getElementById("tbody-{{ key }}");
                        tbody.style.display = tbody.style.display === "none" ? "table-row-group" : "none";
                    });
                </script>
            {% endfor %}
        </table>
    {% endif %}
{% endblock sub_content %}

{% block messages %}
    {% if messages %}
         <ul class="messages">
             {% for message in messages %}
                 <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                 </li>
             {% endfor %}
         </ul>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const messages = document.querySelectorAll('.messages li');
            messages.forEach(function(message) {
                if (message.classList.contains('success')) {
                    message.style.backgroundColor = 'green';
                } else if (message.classList.contains('info')) {
                    message.style.backgroundColor = '#007bff';
                } else if (message.classList.contains('warning')) {
                    message.style.backgroundColor = 'orange';
                } else if (message.classList.contains('error')) {
                    message.style.backgroundColor = 'red';
                } else if (message.classList.contains('debug')) {
                    message.style.backgroundColor = 'gray';
                }
            });
        });
    </script>
{% endblock %}